<!DOCTYPE html>
<html>
    <head>
         <link rel="stylesheet" href="/css/style.css">
         <link rel="icon" href="/image/cloudy.png">
      
    </head>
<body>
    <div class="main-content">
        {{>header}}
    <h1>{{Age}}</h1>
    <p>Use this site to get your Weather</p>
    <form>
        <input placeholder="Loaction">
        <button>Search</button>
    </form>

    <p id='message-1'></p>
     <p id='message-2'></p> 
    </div>

    {{>footer}}

     <script src="/js/exjs.js"></script>
</body>

</html>